br
.col-md-6.offset-md-3
  = f.email_field :email, placeholder: "メールアドレスを入力してください", class: "form-control", required: true
br
p パスワード再設定用URLを送信します。ご登録いただいているメールアドレスを入力し、<br>「送信する」ボタンをクリックしてください。 
.btn__password--center
  = f.submit "送信する", class: "btn main__btn"