@import "bootstrap";

/* 全体 */
body {
  padding-top: 60px;
  background-color: #491a00;
  color: #eceab7;
  font-size: 1.5em;
  font-family: "ヒラギノ丸ゴ ProN W4", "ＭＳ Ｐゴシック", sans-serif;
  // position: relative;
  background-image: url("下枠.png");
  background-size: 70% 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  overflow: auto;
}

/* 文字デザイン */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 1em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1em;
  margin-top: 0.5em;
  // line-height: 2.5em;
}

/* header */
.navbar > .navbar--height {
  position: absolute;
  top: -80%;
}

#logo {
  font-family: "ヒラギノ丸ゴ ProN W4", "ＭＳ Ｐゴシック", sans-serif;
  margin-right: 10px;
  font-size: 3em;
  color: #eceab7;
  letter-spacing: -1px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.navbar-nav ul li a.nav__btn {
  font-family: "ヒラギノ丸ゴ ProN W4", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #eceab7;
  background-color: #957275;
  border-radius: 5px;
  padding: 30px 15px;
  margin-top: 30px;
  display: inline-block
}

.navbar-nav ul li a.nav__btn:hover {
  color: #957275;
  background-color: #eceab7;
}

.navbar-nav ul li {
  float: left;
}

/* main */
// メイン部分のボタン
.main__btn {
  font-size: 0.8em;
  color: #eceab7;
  background-color: #957275;
}

.main__btn:hover {
  font-size: 0.8em;
  color: #957275;
  background-color: #eceab7;
}

//編集、削除ボタン
.btn--edit {
  font-size: 0.8em;
  color: #eceab7;
  background-color: #485538;
}

.btn--edit:hover{
  font-size: 0.8em;
  color: #485538;
  background-color: #eceab7;
}

.btn--destroy {
  font-size: 0.8em;
  color: #eceab7;
  background-color: #a43121;
}

.btn--destroy:hover {
  font-size: 0.8em;
  color: #a43121;
  background-color: #eceab7;
}

ul {
  list-style: none;
}

// 入力フォームのラベル
.label--fontstyle {
  font-size: 0.8em;
  margin-top: 6px;
  vertical-align: middle;
}

// deviseモジュールに対応するリンク
.devise-links {
  text-align: center;
}

// ページネーション
.pagination {
  justify-content: center;
}

.pagination > li > a {
  border: none;
  color: #957275;
  background-color: #fff8dc;
}

.pagination > li > a:hover {
  border: none;
  color: #fff8dc;
  background-color: #957275;
}

.pagination > .active > a.page--activecolor {
  border: none;
  color: #fff8dc;
  background-color: #954e2a;
}

/* エラーメッセージ */
// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }

/* debug */
.debug_dump {
  background-color: #fff;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}