.content__app-description {
  font-size: 1.8em;
  text-align: center;
  color: #eceab7;
  font-family: "ヒラギノ丸ゴ ProN W4", "ＭＳ Ｐゴシック", sans-serif;
  margin: 200px;
  // position: absolute;
  // top: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

body {
  background-image: url("下枠.png");
  background-size: 70% 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}