h1 {
  font-size: 3em;
  letter-spacing: -2px;
  // margin-bottom: 40px;
}

.label--fontstyle {
  font-size: 1.3em;
  margin-top: 6px;
}

.btn__signup {
  text-align: center;
}

.btn__signup .main__btn {
  margin: 20px 5px;
  padding: 8px 90px;
}