.btn__signin {
  text-align: center;
}

.keep-signin {
  text-align: center;
}

.checkbox__remember {
  vertical-align: middle;
  margin-right: 8px;
  transform: scale(1.5);
}

#link__password-forget {
  font-size: 0.8em;
}

.link__admin-signin {
  font-size: 0.8em;
}