.btn__user-infomation {
  text-align: center;
}

.check__user-infomation {
  text-align: center;
}

.btn__user-infomation .main__btn {
  margin: 5px;
  padding: 8px 50px;
}

.btn__user-infomation .btn__destroy--request {
  margin: 5px;
  padding: 8px 50px;
}

// チェックボックス
#checkbox__agree {
  width: auto;
  height: 17px;
  margin-right: 10px;
  transform: scale(1.8);
}
